@media ( min-width : 768px) {
	.slider_sub {
		width: 20%;
		margin-top: 51px;
		position: absolute;
		z-index: 1;
	}
	.mysearch {
		margin: 10px 0;
	}
	.content {
		margin-left: 2%;
		padding: 1px;
		margin-right: 2%;
		margin-top: -1%;
	}
	.seftbtn {
		margin-top: 1.5%;
		margin-left: 0%;
	}
	font{
	   color: blue
	}
}